{% extends './base.html' %}
{% load bootstrap4 %}
{% block header %}

{% endblock %}
{% block content %}
<h2>SMA</h2>
<form action='/ju/sma' class='form'>
{% csrf_token %}
{% bootstrap_form Sma layout='horizontal' %}
<button type = 'submit' class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>BBAND逆張り</h2>
<form action='/ju/breverse' class='form'>
{% bootstrap_form Bre layout='horizontal' %}
<button type = "submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<form action = '/ju/update'>
<input type = 'submit' value='更新する'> 
</form>
<table border='2'>
<tr>
<th>年月日</th>
<th>ドル/円</th>
</tr>
{% for i in lists %}
<tr>
<td>{{i.date}}</td>
<td>{{i.start}}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}